<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ReportingEntities" connectionString="metadata=res://*/ReportingModel.csdl|res://*/ReportingModel.ssdl|res://*/ReportingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Reporting;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>